.tree {
    padding: 19px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    z-index: 1;
    /*background-image: url('../images/library2.png');*/
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 300px;
    background-size: 380px;
}

.csat.tree {
    background-color: rgba(178, 176, 100, 0.3);
}
.general.tree {
    background-color: rgba(225, 185, 74, 0.3);
}

.csap.tree {
    background-color: rgba(155, 190, 204, 0.3);
}

.cmhs.tree {
    background-color: rgba(138, 24, 14, 0.1);
}
.books {
    z-index:12;
    position: relative;
    
}
.tree.col-md-12 {
    position: relative;
    bottom: 20px;
    z-index:1;
}
.tree ul {
    position: relative;
    top: 5px;
    margin-bottom: -5px;
}

.tree ul li {
     margin-bottom: -5px;
     left:5px;
     top:-5px;
     /*max-width: 580px;*/
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 0px 0 5px;
    position:relative;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto;
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px;
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:30px;
    width:25px;
    font-weight: bold;
}
.tree li a,
.tree li i.doc_type {
    display:inline-block;
    padding: 3px 0px;
    text-decoration:none;
    color: #11618d;
    font-weight: 700;
    position: relative;
}

.doc_pdf {
    font-size: 14px;
}

.doc_pdf:hover {
    text-decoration: underline;
}

.no_children {
    text-transform:uppercase;
    display:block;
    text-decoration:none;
    color: #444 !important;
    font-weight: 400 !important;
    position: relative;
    top: 15px;
    padding-left: 27px !important;
}

.no_children:hover {
    color: #444 !important;
    cursor: default !important;
}

.tree li i.doc_type span{
    padding: 3px 7px;
    text-decoration:none;
    color: #000 !important;
    font-weight: 500;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.tree li i.doc_type span:hover {
    text-decoration: underline;
    color: #0b3c57 !important;

}
.tree li.parent_li>a {
    cursor:pointer;
    position: relative;
    top: 5px;
    outline: none;
}


.tree li:last-child::before {
    height:30px;
}
li.heading>a {
    text-transform:uppercase;
    color: #11618d;
}
li.heading>a:hover, li.heading>a:active {
    outline: none;
}

.tree li.parent_li>a:hover, .tree li.parent_li>a:hover+ul li a {
    color: #11618d;
    
}

li.heading.parent_li a:hover {
    color: #8A180E;
}

.tree h3 {
    color: #11618d;
}

span.spacer {
    position: relative;
    /*top: 5px;*/
    font-weight: bold;
    color: #8A180E;
    font-size: 18px;
}

.fa.fa-caret-up,
.fa.fa-caret-down {
    font-weight: bold;
    color: #8A180E !important;
    font-size: 21px !important;  
    margin-left: 4px;
}

.fa.fa-file {
    color: #8A180E !important;
}

.ul_closed {
    display:none;
}

#new-doc {
    margin-left: 0px;
    position: static;
    top:5px;
    left:10px;
    width: 40px;
    padding:1px 3px;
    border: 1px solid #8A180E;
    color: #8A180E !important;
    font-weight: 700;
    background-color: #f2c449;
    border-radius: 4px;
    z-index: 100;
    text-decoration: none !important;
        -moz-box-shadow: 1px 1px 2px 1px #c3c3c3;
    -webkit-box-shadow: 1px 1px 2px 1px #c3c3c3;
    box-shadow: 1px 1px 2px 1px #c3c3c3;
}

#new-doc:hover {
    text-decoration: none;
}